/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /*Custom Styling*/

  body{
      background-color: rgba(206, 20, 13, 0.356);
  }

  .nav-brand{
      height: 150px;
      border-radius: 5px;
  }
